@model Nauka3.Models.RestaurantReview
<div>
    <h4>@Model.Name</h4>
    <span>@Model.Rating / 10</span>
    <p>@Model.City,@Model.Country</p>

    <span class="right">
        @Html.ActionLink("EDIT", "Edit", new { id = Model.Id })
    </span>


</div>
